
@{
    ViewBag.Title = "MiEvaluacion";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <h2>Mi Evaluación</h2>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Horas Trabajadas</th>
                    <th>Comentario</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pedro Sanchez</td>
                    <td>Empleado</td>
                    <td>160</td>
                    <td>Buen desempeño</td>
                    <td>Excelente   </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
