@{
    ViewBag.Title = "ConsultarBoletasPago";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Consultar Boletas de Pago</h2>
    <p class="text-center">Utiliza las opciones a continuación para consultar tus boletas de pago y revisar el histórico de salarios.</p>

    <div class="row justify-content-center mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Boletas de Pago</h5>
                    <p class="card-text">Revisa tus boletas de pago y descarga los recibos.</p>
                    <a class="btn btn-outline-secondary" href="@Url.Action("BoletasPago", "RecursosHumanos")">Ir a Boletas de Pago</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Histórico de Salarios</h5>
                    <p class="card-text">Consulta el histórico de tus salarios y revisa los cambios a lo largo del tiempo.</p>
                    <a class="btn btn-outline-secondary" href="@Url.Action("HistoricoSalarios", "RecursosHumanos")">Ir a Histórico de Salarios</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
