@{
    ViewBag.Title = "GestionNomina";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de Nómina</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2">
        <button class="btn btn-info" type="button" id="button-addon2">Buscar</button>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Rol</th>
                <th>Salario</th>
                <th>Turnos Trabajados (Horas)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pedro Sanchez</td>
                <td>Empleado</td>
                <td>$2000</td>
                <td>160</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>