@{
    ViewBag.Title = "ConsultarBoletasPago";
}

<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="text-center mb-4">Histórico de Salarios</h2>
        <a class="btn btn-outline-dark ml-3">Descargar</a>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Fecha de Cambio</th>
                <th>Salario Anterior</th>
                <th>Salario Nuevo</th>
                <th>Motivo del Cambio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2024-01-01</td>
                <td>$1800</td>
                <td>$2000</td>
                <td>Promoción</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>